.add-menu {
    background-color: var(--light-yellow-green);
    height: 75vh;
    width: 75vw;
    box-shadow: 5px 5px 5px var(--yellow-green);

    display: flex;
    justify-content: flex-start;
}

.add-menu nav {
    height: 100%;
    width: 20%;
    background-color: var(--ebony);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-menu nav h1 {
    color: var(--light-yellow);
    font-family: "Radley";
    font-size: 3rem;
    padding: 0 1rem;
}

.link-wrapper {
    margin: 0.5rem;
    width: 90%;
}

.add-menu a {
    display: inline-block;
    cursor: pointer;
    width: 100%;

    border: 1px solid var(--light-yellow);
    box-shadow: inset 0 0 0 0 var(--yellow-green);
    color: var(--light-yellow);
    padding: 0.3rem 1rem;
    background-color: transparent;
    transition:
        color 0.5s ease-in-out,
        box-shadow 0.5s ease-in-out,
        background-color 0.5s ease-in-out,
        border-color 0.5s ease-in-out;
    font-size: 1.2rem;
}

.add-menu a:hover {
    box-shadow: inset 400px 0 0 0 var(--yellow-green);
    border-color: var(--yellow-green);
    color: var(--ebony);
}

.link-wrapper-active a {
    color: var(--ebony);
    background-color: var(--light-yellow);
    border-color: var(--light-yellow);
}

.find-book {
    padding: 1rem;
    width: 100%;
}

.find-book h1 {
    font-family: 'Radley';
    color: var(--ebony);
    font-size: 4rem;
    padding: 0;

}

.find-book input {
    width: 100%;
}

.book-list {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--ebony);
    width: 100%;
    height: 75%;
    overflow-y: hidden;
}

.book-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.book-list ul::-webkit-scrollbar {
    display: none;
}

.book-list li{
    padding: 0.5rem 0;
    font-family: 'Radley';
}