/*  ------------------------
*   AddMenu.jsx Styling
*   ------------------------
*/
.add-menu {
    background-color: var(--light-yellow-green);
    height: 75vh;
    width: 75vw;
    box-shadow: 5px 5px 5px var(--yellow-green);

    display: flex;
    justify-content: flex-start;
}

.add-menu nav {
    height: 100%;
    width: 20%;
    background-color: var(--ebony);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-menu nav h1 {
    color: var(--light-yellow);
    font-family: "Radley";
    font-size: 3rem;
    padding: 0 1rem;
}

.link-wrapper {
    margin: 0.5rem;
    width: 90%;
}

.add-menu a {
    display: inline-block;
    cursor: pointer;
    width: 100%;

    border: 1px solid var(--light-yellow);
    box-shadow: inset 0 0 0 0 var(--yellow-green);
    color: var(--light-yellow);
    padding: 0.3rem 1rem;
    background-color: transparent;
    transition:
        color 0.5s ease-in-out,
        box-shadow 0.5s ease-in-out,
        background-color 0.5s ease-in-out,
        border-color 0.5s ease-in-out;
    font-size: 1.2rem;
}

.add-menu a:hover {
    box-shadow: inset 400px 0 0 0 var(--yellow-green);
    border-color: var(--yellow-green);
    color: var(--ebony);
}

.link-wrapper-active a {
    color: var(--ebony);
    background-color: var(--light-yellow);
    border-color: var(--light-yellow);
}

/*  ------------------------
*   FindBook.jsx and AddShelf.jsx Styling
*   ------------------------
*/
.find-book,
.add-shelf {
    padding: 1rem;
    width: 80%;
}

.find-book h1,
.add-shelf h1 {
    font-family: 'Radley';
    color: var(--ebony);
    font-size: 4rem;
    padding: 0;

}

.find-book input,
.add-shelf input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 12px 15px;
    border: 2px solid var(--ebony);
    background-color: var(--light-yellow-green);
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
}

.find-book input:focus,
.add-shelf input:focus {
    outline: none;
    box-shadow: 4px 4px 0px var(--ebony);
    border-color: var(--olive);
}

.find-book input:focus,
.add-shelf input:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--olive);
}

.add-shelf form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit-shelf {
    appearance: none;
    background-color: var(--ebony);
    border: 2px solid var(--ebony);
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--light-yellow);
    cursor: pointer;
    display: inline-block;
    font-family: "Radley";
    font-size: 20px;
    margin: 0.5rem 0;
    height: 3rem;
    outline: none;
    padding: 0.5rem;
    width: 50%;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.submit-shelf:disabled {
    pointer-events: none;
}

.submit-shelf:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.submit-shelf:active {
    box-shadow: none;
    transform: translateY(0);
}

#message{
	color: var(--ebony);
    font-size: 1rem;
    margin-top: 4px;
	text-align: center;
    font-family: "Radley";
}

/*  ------------------------
*   BookItem.jsx Styling
*   ------------------------
*/
.book-list {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    height: 75%;
    overflow-y: hidden;
}

.book-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.book-list ul::-webkit-scrollbar {
    display: none;
}

.book-item {
    padding: 0.5rem 0;
    font-family: 'Radley';
    border-top: 1px solid var(--ebony);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-item .left {
    display: flex;
    direction: row;
    align-items: center;
}

.book-item .right {
    width: 30%;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: flex-end;
}

.book-item .right input {
    all: unset;
}

.css-b62m3t-container {
    width: 100%;
}

.book-item img {
    width: 7rem;
    margin: 0.5rem;
}

.book-item p {
    margin: 0.7rem;
    color: var(--ebony);
    font-size: x-large;
}

#author {
    font-size: large;
}