.homepage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    background-color: var(--yellow-green);
    height: 5vh;
    width: 40vw;
    margin: 1rem auto;
    border-radius: 5px;
    padding: 0.2rem;

    display: flex;
    align-items: center;
}

.search-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    width: 75%;
    background-color: var(--light-yellow-green);
    border-radius: 5px;
    overflow: hidden;
    flex: 1; /* takes remaining space */
    min-width: 0;
}

#search-icon {
    height: 90%;
    margin: 5px;
    margin-right: 2px;
    color: var(--ebony);
}

.search-wrapper input {
    height: 100%;
    border: none;
}

.search-wrapper input:focus {
    box-shadow: none;
    outline: none;
}

.icons {
    height: 100%;
    display: flex;
    align-items: center;
}

.icons img {
    height: 100%;
    border-radius: 5px;
    padding: 0 1rem;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.icons img:hover {
    opacity: 0.6;
}

.icons button {
    all: unset;
    height: 100%;
}
