.shelf{
    background-color: var(--gray-orange);
    padding: 3rem 3rem 5rem 3rem;
    width: 70%;
    margin: 2rem auto;
}

.shelf-row{
    background-color: var(--gray-brown);
    height: 10rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
}

/* Styling for Swiper. Needs to increase specifity to overwrite default configs.*/
.shelves .swiper-pagination-bullet-active {
  	background: var(--yellow-green);
}

.shelves .swiper-button-next,
.shelves .swiper-button-prev{
	color: var(--yellow-green);
}

.shelves .swiper-pagination{
    bottom: -0.2rem;
}