@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

:root {
    --light-yellow: #f0ead2;
    --gray-brown: #6c584c;
	--light-yellow-green: #dde5b6;
    --gray-orange: #a98467;
    --yellow-green: #adc178;
    --ebony: #454d30; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "moontime";
    src: url("./assets/fonts/moontime.ttf");
}

body {
    background-color: var(--light-yellow);
}
